.btn-success {
    border-color: #5cb85c;
    background-color: #5cb85c;
}


.loginbtn {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    border-radius:10px;
    padding: 10px 20px 10px 20px;
}

.description {
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 0 15%;
}

.subheader {
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-top: 32%;
}

.paragraph {
    margin-top: 3%;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 300;
}