iframe {
    position: absolute;
    left: 15%;
    top: 25%;
}


.description {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20%;
    text-align: center;
}

.playlist_form {
    position: absolute;
    right: 23%;
    top: 25%;
}