iframe {
    position: absolute;
    left: 15%;
    top: 25%;
}


.description {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20%;
    text-align: center;
}

.playlist_form {
    position: absolute;
    right: 23%;
    top: 25%;
}

div#content {
    display: none;
    }
 
div#loading {
    top: 200 px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background: url(default.gif) no-repeat;
    cursor: wait;
    }