iframe {
    position: absolute;
    left: 15%;
    top: 22%;
}

.description {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20%;
    text-align: center;
}

.playlist_form {
    position: absolute;
    right: 23%;
    top: 25%;
}

.name_margin {
    margin: 40px 5px 0px 5px;
}

.left {
    float: left;
    width: 65%;
}

.right {
    float: right;
    width: 30%;
}