{%extends "base.html" %}
{% block css %}
<link rel="stylesheet" href={{ url_for('static', filename='index.css') }}>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="description">
            <div class="subheader">Lorem ipsum dolor sit amet</div>

            <div class="paragraph">Duis a augue a risus tempor ultrices in id orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus vitae lorem in posuere. Suspendisse in ultrices odio. </div>
            <hr class="style-seven">
            <a href={{ auth_url }}>
                <button type="button" class="btn btn-success loginbtn"><i class="fa fa-spotify" aria-hidden="true"></i>     Login with Spotify</button>
            </a>
        </div>
    </div>
{% endblock %}
