{%extends "base.html" %}
{% block css %}
<link rel="stylesheet" href={{ url_for('static', filename='index.css') }}>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="description">
            <div class="subheader">How are you feeling today?</div>
            <hr class="style-seven">
             <form  action="" method="post" name="mood">
                    
                    <div class="text-center"> {{form_a.anger}}</div>
                    <div class="text-center"> {{form_a.joy}}</div>
                    <div class="text-center"> {{form_a.sadness}}</div>
                    <div class="text-center"> {{form_b.test}}</div>
                    <div class="text-center"> {{form_b.startButton}}</div>
             </form>
        </div>
    </div>
{% endblock %}

